!hacs.json
!README.md
!.gitignore

/.storage
/.HA_VERSION
/deps
/tts
/configuration.yaml
/home-assistant*

/custom_components/**
!/custom_components/**/
!/custom_components/lovelace_gen
!/custom_components/lovelace_gen/*
!/custom_components/lovelace_gen/**/*
/custom_components/lovelace_gen/**/__pycache__